<header class="app-header">
  <button class="menu-btn" (click)="toggleSidebar()">☰</button>

  <h1 class="title">DEMO PROYECTO DE GRADUACION II</h1> 

  <div class="spacer"></div>
  <!-- ✅ MOSTRAR USUARIO Y BOTÓN DE SALIR -->
  <div class="user-section">
    <span class="user-name" *ngIf="usuario">
      <span class="user-icon">👤</span> <!-- Emoticono de usuario -->
      Usuario: {{ usuario }} <b></b>
    </span>
    <button class="logout-btn" (click)="logout()">Salir</button>
  </div>
</header>
