<div class="login-container">
    <img src="assets/login.jpg" />

    <h2>Login</h2>

    <form (ngSubmit)="login()">
        <!-- Usuario -->
        <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" placeholder="Usuario" />

        <!-- Contraseña con ojo -->
        <div class="password-container">
            <input [type]="mostrarPassword ? 'text' : 'password'" 
                   id="password" 
                   [(ngModel)]="contrasena" 
                   name="password" 
                   placeholder="Contraseña" />
            
            <!-- Botón del ojito -->
            <button type="button" class="toggle-password" (click)="togglePassword()">
                <span *ngIf="!mostrarPassword">👁️</span>
                <span *ngIf="mostrarPassword">🙈</span>
            </button>
        </div>

        <!-- Botón login -->
        <button class="btn-login" type="submit">Ingresar</button>
    </form>

    <p style="color:red" *ngIf="error">{{ error }}</p>
</div>
