.login-container {
  max-width: 300px;
  margin: 100px auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #2f4251;
  border-radius: 4px;
}

.btn-login {
  background-color: #04AA6D;
  background: #2f4251;
  color: #fff;
  border: none;
  padding: 8px 3px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background: #1c2c38;
  transform: translateY(-2px);
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
  padding-right: 40px; /* espacio para el botón */
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
